.sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}

.sidebar a {
  padding: 12px;
  border: 1px solid #2b4c80;
  border-radius: 6px;
  color: #2b4c80;
  font-weight: bold;
  text-decoration: none;
}

.sidebar a:hover {
  color: white;
  background-color: #2b4c80;
}